// abstracts
@use "abstracts/variables";
@use "abstracts/mixins";
@use "abstracts/placeholders";
@use "abstracts/functions";

// base
@use "base/reset";
@use "base/typography";
@use "base/base";

// components
@use "components/welcomeScreen";
@use "components/roomSetupPage";
@use "components/bluePrintUI";

// layout

// pages

// tools-wrapper
.tools-wrapper {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
  background-color: rgb(47, 195, 240);
  padding: 20px 20px;
  display: flex;
  gap: 50px;
}

.explore-3d {
  position: absolute;
  padding: 20px 10px;
  top: 10px;
  right: 30px;
  cursor: pointer;
  background-color: rgb(47, 195, 240);
}

.help-panel {
  width: 200px;
}

.dimension-indicator,
.room-label {
  pointer-events: none;
}

.html-element {
  width: auto;
  min-width: 150px;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 10;

  padding: 10px 20px;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center;
  gap: 4px; /* Optional: space between the lines */

  background-color: #ffffff; /* White background */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* Soft shadow */
  border-radius: 8px; /* Optional: rounded corners for a cleaner look */

}
